In [1]:
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
path = r'D:\Trabajo\Barómetro\BX\Web Scraping\Pie Charts Ecuador\Historico hasta enero 26 2022' + '\\'

In [3]:
df = pd.read_excel(path + "archivo_0.xlsx", skiprows=9)
df

            all  all.1
0  Integración     583
1      Trabajo     455
2        Salud     271
3    Seguridad    1353
4     Educación    247
5    Xenofobia     449

In [4]:
df.rename(columns= {"all": "Categoria", "all.1": "Volumen"}, inplace=True)

In [5]:
df

      Categoria  Volumen
0  Integración       583
1      Trabajo       455
2        Salud       271
3    Seguridad      1353
4     Educación      247
5    Xenofobia       449

In [6]:
df.sum()[1]

3358

In [7]:
start_date = '2020-01-01' # YYYY-MM-DD
end_date = '2022-02-04' # PATTERN YYYY-MM-DD - YYYY-MM-DD
def next_week(fecha:str) -> str:
    nueva_fecha = datetime.datetime.strptime(fecha,'%Y-%m-%d').date()
    nueva_fecha = nueva_fecha + datetime.timedelta(days=7)
    return str(nueva_fecha)

def query_pie_chart(start_date: str, end_date: str) -> list:
    centinela = True
    retorno = list()
    two_weeks = next_week(next_week(start_date)) 
    n = 0
    while centinela == True:
        if n == 0:
            envio_range_fechas = start_date + " - " + two_weeks
            retorno.append(envio_range_fechas)
        else:
            start_date = two_weeks
            two_weeks = next_week(next_week(start_date))
            two_weeks_verif = datetime.datetime.strptime(two_weeks,'%Y-%m-%d').date()
            end_date_verif = datetime.datetime.strptime(end_date,'%Y-%m-%d').date()
            if int((end_date_verif - two_weeks_verif).days) < 0:
                centinela = False
            else:
                envio_range_fechas = start_date + " - " + two_weeks
                retorno.append(envio_range_fechas)
        n+=1
    return retorno
fechas = query_pie_chart(start_date, end_date)

In [8]:
final = pd.DataFrame()
for i in range(0,54):
    df = pd.read_excel(path + "archivo_" + str(i) + ".xlsx", skiprows=9)
    df.rename(columns= {"all": "Categoria", "all.1": "Volumen"}, inplace=True)
    dato = {'Categoria': 'Total', 'Volumen': df.sum()[1]}
    df = df.append(dato, ignore_index=True)
    df["Rango Fecha"] = fechas[i]
    final = final.append(df)

In [9]:
final

       Categoria  Volumen              Rango Fecha
0   Integración       583  2020-01-01 - 2020-01-15
1       Trabajo       455  2020-01-01 - 2020-01-15
2         Salud       271  2020-01-01 - 2020-01-15
3     Seguridad      1353  2020-01-01 - 2020-01-15
4      Educación      247  2020-01-01 - 2020-01-15
..           ...      ...                      ...
2         Salud       653  2022-01-12 - 2022-01-26
3     Seguridad      2006  2022-01-12 - 2022-01-26
4      Educación      172  2022-01-12 - 2022-01-26
5     Xenofobia       749  2022-01-12 - 2022-01-26
6          Total     4680  2022-01-12 - 2022-01-26

[378 rows x 3 columns]

In [10]:
melteddf = final.pivot(index='Rango Fecha', columns=['Categoria'], values=['Volumen'])

In [11]:
melteddf

                          Volumen                                        \
Categoria               Educación Integración  Salud  Seguridad   Total
Rango Fecha
2020-01-01 - 2020-01-15       247          583    271       1353   3358
2020-01-15 - 2020-01-29       253          931    371       2953   6112
2020-01-29 - 2020-02-12       419         1694    334       9395  15686
2020-02-12 - 2020-02-26       365         1281    416       3329   7260
2020-02-26 - 2020-03-11       200          629    651       1755   4140
2020-03-11 - 2020-03-25       176          536   1991        775   4194
2020-03-25 - 2020-04-08       160         1047   2528       1586   6392
2020-04-08 - 2020-04-22       173          594   1696       1263   4619
2020-04-22 - 2020-05-06       142          788   1288       1192   4211
2020-05-06 - 2020-05-20       145          350   1455       1167   3835
2020-05-20 - 2020-06-03       285         1331   1283        977   4778
2020-06-03 - 2020-06-17       342          347    940        646   2965
2020-06-17 - 2020-07-01       131          323    386        422   2168
2020-07-01 - 2020-07-15       135         1039    499        762   3290
2020-07-15 - 2020-07-29       387          325    558        463   2387
2020-07-29 - 2020-08-12       140          284    296        982   2237
2020-08-12 - 2020-08-26       187          309    341        545   2413
2020-08-26 - 2020-09-09       133          371    343        536   2149
2020-09-09 - 2020-09-23       187          647    403        867   2859
2020-09-23 - 2020-10-07       205          360    421        822   2617
2020-10-07 - 2020-10-21       143          374    254       1062   2656
2020-10-21 - 2020-11-04       126          360    267        785   2407
2020-11-04 - 2020-11-18       135          394    274        537   1982
2020-11-18 - 2020-12-02       128          397    195       1466   3764
2020-12-02 - 2020-12-16       380          995    467       2311   6900
2020-12-16 - 2020-12-30       128          360    464        788   2690
2020-12-30 - 2021-01-13        58          258    264        517   1566
2021-01-13 - 2021-01-27       157          490    607        812   3493
2021-01-27 - 2021-02-10       309          982    585       1678   5339
2021-02-10 - 2021-02-24      1111         1787    464       2505   6904
2021-02-24 - 2021-03-10       190          477    335        803   2799
2021-03-10 - 2021-03-24       185          518    492        998   3370
2021-03-24 - 2021-04-07       263         2207   2160      10187  17361
2021-04-07 - 2021-04-21       368          496    544        858   3406
2021-04-21 - 2021-05-05       972          923    548       3232   6730
2021-05-05 - 2021-05-19       719          407    297        995   2996
2021-05-19 - 2021-06-02       357          420    305       1017   2870
2021-06-02 - 2021-06-16       587          453    682       1835   5578
2021-06-16 - 2021-06-30       490          428    706       2548   7060
2021-06-30 - 2021-07-14       168          317    321       1388   3534
2021-07-14 - 2021-07-28       130          206    376        934   2616
2021-07-28 - 2021-08-11       263          419    276        796   3319
2021-08-11 - 2021-08-25       394          578    722        698   4183
2021-08-25 - 2021-09-08       522          377    309        795   2803
2021-09-08 - 2021-09-22       538          349    205        946   2899
2021-09-22 - 2021-10-06       160          480    229        970   3404
2021-10-06 - 2021-10-20       137          391    230       2067   4303
2021-10-20 - 2021-11-03       219          308    273        847   2736
2021-11-03 - 2021-11-17       230          191    135        548   2003
2021-11-17 - 2021-12-01       283          244    143        424   2369
2021-12-01 - 2021-12-15       258          199    158        512   2324
2021-12-15 - 2021-12-29       195          221    161        481   3034
2021-12-29 - 2022-01-12       696          162    160        395   2547
2022-01-12 - 2022-01-26       172          316    653       2006   4680


Categoria               Trabajo  Xenofobia
Rango Fecha
2020-01-01 - 2020-01-15      455        449
2020-01-15 - 2020-01-29     1048        556
2020-01-29 - 2020-02-12      976       2868
2020-02-12 - 2020-02-26      555       1314
2020-02-26 - 2020-03-11      318        587
2020-03-11 - 2020-03-25      235        481
2020-03-25 - 2020-04-08      426        645
2020-04-08 - 2020-04-22      356        537
2020-04-22 - 2020-05-06      341        460
2020-05-06 - 2020-05-20      272        446
2020-05-20 - 2020-06-03      282        620
2020-06-03 - 2020-06-17      184        506
2020-06-17 - 2020-07-01      232        674
2020-07-01 - 2020-07-15      218        637
2020-07-15 - 2020-07-29      281        373
2020-07-29 - 2020-08-12      196        339
2020-08-12 - 2020-08-26      409        622
2020-08-26 - 2020-09-09      273        493
2020-09-09 - 2020-09-23      160        595
2020-09-23 - 2020-10-07      237        572
2020-10-07 - 2020-10-21      249        574
2020-10-21 - 2020-11-04      330        539
2020-11-04 - 2020-11-18      241        401
2020-11-18 - 2020-12-02      679        899
2020-12-02 - 2020-12-16     1136       1611
2020-12-16 - 2020-12-30      320        630
2020-12-30 - 2021-01-13      135        334
2021-01-13 - 2021-01-27      528        899
2021-01-27 - 2021-02-10      898        887
2021-02-10 - 2021-02-24      441        596
2021-02-24 - 2021-03-10      534        460
2021-03-10 - 2021-03-24      371        806
2021-03-24 - 2021-04-07     1515       1029
2021-04-07 - 2021-04-21      335        805
2021-04-21 - 2021-05-05      577        478
2021-05-05 - 2021-05-19      209        369
2021-05-19 - 2021-06-02      315        456
2021-06-02 - 2021-06-16     1098        923
2021-06-16 - 2021-06-30     1435       1453
2021-06-30 - 2021-07-14      480        860
2021-07-14 - 2021-07-28      372        598
2021-07-28 - 2021-08-11      623        942
2021-08-11 - 2021-08-25      913        878
2021-08-25 - 2021-09-08      290        510
2021-09-08 - 2021-09-22      361        500
2021-09-22 - 2021-10-06      382       1183
2021-10-06 - 2021-10-20      350       1128
2021-10-20 - 2021-11-03      491        598
2021-11-03 - 2021-11-17      303        596
2021-11-17 - 2021-12-01      434        841
2021-12-01 - 2021-12-15      656        541
2021-12-15 - 2021-12-29     1430        546
2021-12-29 - 2022-01-12      461        673
2022-01-12 - 2022-01-26      784        749

In [12]:
melteddf.columns = melteddf.columns.droplevel()
melteddf.head(5)

Categoria,Educación,Integración,Salud,Seguridad,Total,Trabajo,Xenofobia
Rango Fecha,,,,,,,
2020-01-01 - 2020-01-15,247,583,271,1353,3358,455,449
2020-01-15 - 2020-01-29,253,931,371,2953,6112,1048,556
2020-01-29 - 2020-02-12,419,1694,334,9395,15686,976,2868
2020-02-12 - 2020-02-26,365,1281,416,3329,7260,555,1314
2020-02-26 - 2020-03-11,200,629,651,1755,4140,318,587

In [13]:
columns_list = melteddf.columns
columns_list = columns_list.drop('Total')
for i in range(len(columns_list)):
    texto = str(columns_list[i]).strip()
    melteddf[texto + " %"] = melteddf[columns_list[i]]/melteddf['Total']
melteddf.head(5)

Categoria,Educación,Integración,Salud,Seguridad,Total,Trabajo,Xenofobia,Educación %,Integración %,Salud %,Seguridad %,Trabajo %,Xenofobia %
Rango Fecha,,,,,,,,,,,,,
2020-01-01 - 2020-01-15,247,583,271,1353,3358,455,449,0.073556,0.173615,0.080703,0.402918,0.135497,0.133711
2020-01-15 - 2020-01-29,253,931,371,2953,6112,1048,556,0.041394,0.152323,0.060700,0.483148,0.171466,0.090969
2020-01-29 - 2020-02-12,419,1694,334,9395,15686,976,2868,0.026712,0.107994,0.021293,0.598942,0.062221,0.182838
2020-02-12 - 2020-02-26,365,1281,416,3329,7260,555,1314,0.050275,0.176446,0.057300,0.458540,0.076446,0.180992
2020-02-26 - 2020-03-11,200,629,651,1755,4140,318,587,0.048309,0.151932,0.157246,0.423913,0.076812,0.141787

In [14]:
melteddf.to_excel("Histórico_Pie_Charts.xlsx")